.main {
    width: 100%;
    max-width: calc(1146px + 40px);
    margin: 0 auto;
    padding: 0 20px;
}

.page {
    display: grid;
    grid-template-columns: 1fr 270px;
    grid-column-gap: 30px;
    margin-bottom: 50px;
}
