.header {
    background-color: var(--primary-color);
    background-image: url('../../assets/images/navigation-effect@2x.png');
    background-repeat: no-repeat;
    background-size: 550px 100%;
    margin-bottom: 40px;
}

.logo {
    margin: 25px 0;
    max-width: 214px;
}

.innerContainer {
    display: flex;
    align-content: center;
    justify-content: space-between;
    width: 100%;
    max-width: calc(1146px + 40px);
    margin: 0 auto;
    padding: 0 20px;
}

.rightSide {
    display: flex;
    align-items: flex-end;
    margin-left: auto;
}

.linkList {
    list-style: none;
    display: flex;
    margin: 0 -40px 0 0;
    padding: 0;
}

.listItem {
    padding: 16px 40px;
}

.link {
    color: var(--white-color);
    transition: color .3s;
    text-decoration: none;
    font-size: var(--navigation-link-font-size);
    text-transform: uppercase;
    font-weight: var(--font-bold);
}

.link:hover {
    color: var(--yellow-hover-color);
}

.burgerTrigger {
    display: none;
    align-items: center;
    padding: 10px;
    background-color: var(--primary-color);
    flex-direction: column;
    width: 50px;
    height: 50px;
    justify-content: space-around;
}


.burgerTrigger:before,
.burgerTrigger span,
.burgerTrigger:after {
    content: '';
    display: block;
    width: 25px;
    height: 2px;
    background: var(--white-color);
}

@media (max-width: 1024px) {
    .listItem {
        padding: 16px 20px;
    }

    .link {
        font-size: var(--text-font-size);
    }

    .linkList {
        margin: 0 -20px 0 0;
    }
}

@media (max-width: 725px) {
    .rightSide {
        display: none;
    }

    .innerContainer {
        align-items: center;
    }

    .logo {
        margin: 15px;
        max-width: 150px;
    }

    .burgerTrigger {
        display: flex;
    }

    .linkList {
        flex-direction: column;
    }
}
